body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
/* header part style */
.header {
  display: flex;
  padding: 50px 150px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 228, 230);
}
.header-caption {
  max-width: 500px;
}
.header-title {
  font-weight: 800px;
}
.header-btn {
  background-color: lightsalmon;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* <<-------header section style ends--------->> */

.hot-deal-section {
  display: flex;
  padding: 50px 150px;
  background-color: rgba(244, 202, 211, 0.5);
  margin-top: 100px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
.hot-deal-btn {
  background-color: lightsalmon;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 100px;
}
.hot-deal-text {
  color: rgb(236, 109, 130);
}
.hot-deals-details {
  max-width: 500px;
  margin-left: 200px;
}

/* <<-----------hot deal style ends------->> */

.instagram-section {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.instagram-details {
  text-align: center;
}

.instagram-pic {
  display: block;
  margin-top: 20px;
}
.flower-1 {
  height: 200px;
}
.flower-2 {
  height: 200px;
  margin-left: 50px;
}
.flower-3 {
  height: 200px;
  margin-left: 50px;
  background-color: beige;
}
.flower-4 {
  height: 200px;
  margin-left: 50px;
  background-color: blanchedalmond;
}

/* <<-------------instagram style done------------>> */

.subscription-section {
  background-image: url("./Flower Asset/bg-image.png");
  margin: 100px auto;
  height: 400px;
  max-width: 800px;
  background-repeat: no-repeat;
  
  align-items: center;
 padding: 100px;;
 border-radius: 10px;
}
.subscription-sec-detail{
 margin-left: 250px;
  
}
.subscription-form{
  margin-left: 250px;
  margin-top: 20px;
  
}
.input-form{
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 5px;
}
.subscription-submit{
  height: 40px;
  width: 100px;
  background-color: rgb(171, 243, 243);
  border: none;
  border-radius: 5px;
}

/* <<------------------subscription section style done---------------->> */

.footer{
  background-color: rgb(230, 236, 236);
 padding: 50px;
  
 
}
.footer-text{
  color: crimson;
}
.footer-detail{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}